@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .pt-safe-top {
        padding-top: env(safe-area-inset-top, 16px);
    }

    .pb-safe-bottom {
        padding-bottom: env(safe-area-inset-bottom, 16px);
    }
}

body {
    font-family: 'Montserrat', sans-serif;
}